<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Pokemon API</title>
</head>

<body>
    <style>
        body {
            background-image: url('/static/5cf2660af5f4214def7166dc7a7c8062.jpg');
        }
    </style>
    <div id="container">
        <div id="navTotal">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #2d2929!important;">
                <div class="container-fluid">
                    <div id="navTole">
                        <img id="logo" src="{{ url_for('static', filename='gengar.png') }}" alt="LOGOPLACEHOLDER">
                        <a><img src="https://fontmeme.com/permalink/210728/da249df9a39fa7fc01d8611a1d81aa86.png"
                                alt="pokemon-font" border="0"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <ul class="nav">
                        <div>
                            <li class="nav-item grow">
                                <a class="nav-link active" aria-current="page" href="/dashboard"><img 
                                        src="https://fontmeme.com/permalink/210728/846afc117aa9cbf009c8c8ec9ced7fc8.png"
                                        alt="pokemon-font" border="0"></a>
                            </li>
                        </div>
                        <div>
                            <li class="nav-item grow">
                                <a class="nav-link" href="/collection"><img
                                        src="https://fontmeme.com/permalink/210728/0393663ece45e69bf9991519e06ed0ba.png"
                                        alt="pokemon-font" border="0"></a>
                            </li>
                        </div>
                        <div>
                            <li class="nav-item">
                                <a class="nav-link grow" href="/sets"><img
                                        src="https://fontmeme.com/permalink/210728/2bfd2091389582de3644fd853d5faee5.png"
                                        alt="pokemon-font" border="0"></a>
                            </li>
                        </div>
                    </ul>
                    <div id="search">
                        <form style = 'margin-right:150px;' class="d-flex" action="/search" method="POST">
                            <input name="search" class="form-control me-2" type="search" placeholder="Search">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                    <div id="navToRi">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="center-on-page">
                                <div>
                                    <img style="    position: absolute;
                                    margin-left: -280px;
                                    margin-top: -55px;
                                    height: 85px;" src="{{ url_for('static', filename='pokegif.gif') }}" alt="">
                                </div>
                            </div>
                            <div id="signedInUser" style="margin: 20px;
                            font-size: 26px;
                            color: #e6c014;
                            font-weight: bold;
                            font-family: cursive;">
                                <p>{{user.first_name}}</p>
                            </div>
                            <br>
                            <a class="btn btn-danger float-end mt-3" style="margin-bottom: 26px;"
                                href="/logout">LOGOUT</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!--########## end of nav and start of main body content #############-->
        <div id="mainContent">
            <div id="main">
                <div id="mainTop">
                    <div id="mainText" style="display: flex; justify-content: center; font-size: larger;
                    text-decoration-line: underline;">
                        <a><img style = 'height:125px' src="https://fontmeme.com/permalink/210730/bab4656dade5aa246b46418e8e9b3d9c.png" alt="pokemon-font" border="0"></a>
                    </div>
                    <div id="mainCards">
                        {% for card in rareCards %}
                        <a href="/card/{{card.id}}"><img class='shadow1 grow round mx-2' onmouseover="grow:hover"
                                style="width: 175px;" src="{{card.images.large}}" alt=""></a>
                        {% endfor %}
                    </div>
                </div>
                <br><br>
                <div id="mainBott">
                    <div id="mainText" style="display: flex; justify-content: center; font-size: larger;
                    text-decoration-line: underline;">
                        <a><img style = 'height:125px'src="https://fontmeme.com/permalink/210730/0b36ba56d9ce6302b87f9f50c4a64c27.png" alt="pokemon-font" border="0"></a>
                    </div>
                    <br>
                    <div id="mainCards">
                        {% for card in rareCards2 %}
                        <a href="/card/{{card.id}}"><img class='shadow1 grow round m-2' onmouseover="grow:hover"
                                style="width: 175px;" src="{{card.images.large}}" alt=""></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br>
    <audio controls autoplay muted>
        <source src="/static/music/02 Opening (part 2)_01quiet.mp3" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>
</body>

</html>